<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${person.getName()+', '+person.getYear()}">VALUE</p>
<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>
<hr/>
<div th:each="oneBook : ${book}">
    <a th:text="${oneBook.getName()+', '+oneBook.getAuthor()+', '+oneBook.getYear()}">VALUE</a>
</div>

</body>
</html>